.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: crimson;
  height: 100vh;
}

.home-page h1 {
  font-size: 20rem;
  margin-bottom: 2rem;
}

.home-page p {
  font-size: 1.2rem;
}
