.home{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: crimson;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #f6f6f6;
}



.wrapper{
    display: flex;
    height: 100vh;
    
}

.wrapper .dashboard{
    width: 223px;
    display: flex;
    justify-content: center;
    background: #FBFBFB;
}

.dashboard-list{
    width: 100%;
    list-style-type: none;
    cursor: pointer;
}

.dashboard-list .list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    gap: 15px;
    border-bottom: 1px solid #F0F0F0;
}


.dashboard-list .list-item:hover{
    background-color: #F0F0F0;
}

.users{
    width: 20px;
}

.user-about{
    border-collapse: collapse;
  border-spacing: 0;
    width: 100%;
    padding: 31px;
    background: #fff;
}


