.UserTable{
  margin: 26px 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border: 1px solid #F7F7F7;
}

.table th {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  background: #efefef;
  color: #7E7E7E;
}

.table td {
  border-bottom: 1px solid #E8E8E8;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #7E7E7E;
  line-height: 16px;
}


.table tbody tr:hover{
  background: #E8E8E8;
}

.table tr td:first-child,
.table tr th:first-child {
  border-left: none;
}

.table tr td:last-child,
.table tr th:last-child {
  border-right: none;
}

.UserTable .edit-icon {
  color: #2196F3;
  cursor: pointer;
  margin-right: 0.5rem;
}


.table-responsive {
  display: flex;
}